div{
    padding: 0 20%;
    margin: 0 50px 50px 0;

    border-color: black;
    background-color: skyblue;
}
p{
    width: 130px;
    height: 30px;
    background-color: rgb(36, 146, 146);
    color: white;
    text-align: center;
    border-bottom: 2px black;
    display: inline-block;
}